*{
	font-family: "helvetica";
}

main{
	margin: 20px;
}

p{
	color: grey;
}

body{
	margin: 0;
}

nav{
	background-color: black;
	padding: 20px;
	color: white;
}

section{
	border:  1px solid grey;
	padding: 20px;
	margin: 20px;
}

span{
	font-size: 11px;
}

h2{
	margin-top: 1px;
}